<div class="max-width">
    <div class="landing-card-info">
        <div  attr.data-aos='fade-up' class="landing-image-info">
            <img [src]="mainConfig.blogImage" />
            <div class="landing-info">
                <div class="title" [innerHTML]="mainConfig.summary">
                </div>
                <div class="tags">
                    <div [innerHTML]="item" *ngFor="let item of mainConfig.tags">
                    </div>
                </div>
                <div class="author-info">
                    <img src="../../../assets/profile.png">
                    <div class="author-name">
                        अंजली सचिन मिश्रा
                    </div>
                </div>
                <div class="rating">
                    <span *ngFor="let item of [].constructor(mainConfig.rating.colorStar);">
                        <i class="fas fa-star"></i>
                    </span>
                    <span *ngFor="let item of [].constructor(mainConfig.rating.notColored);">
                        <i class="far fa-star"></i>
                    </span>
                    <span class="mainRating" [innerHTML]="mainConfig.rating.mainRaiting">
                    </span>
                </div>
                <div class="time-slots">
                    <span><i class="fas fa-clock"></i>{{mainConfig.time}}</span>
                    <span><i class="fas fa-book"></i>{{mainConfig.parts}}
                    </span>
                </div>
                <div class="share">
                    <span>अपने दोस्तों के साथ साझा करें:</span>
                    <div class="share-icons">
                        <div class="icons" (click)="shareApplication('twitter')"><i class="fab fa-twitter"></i></div>
                        <div class="icons" (click)="shareApplication('facebook')"><i class="fab fa-facebook-f"></i>
                        </div>
                        <div class="icons" (click)="shareApplication('linkedin')"><i class="fab fa-linkedin-in"></i>
                        </div>
                        <div class="icons" (click)="shareApplication('pinterest')"><i
                                class="fab fa-pinterest-square"></i></div>
                        <div class="icons" (click)="shareApplication('whatsapp')"><i class="fab fa-whatsapp"></i></div>
                    </div>
                </div>
                <div class="buttons">
                    <div class="read" (click)="goback()">
                        मुख्य पृष्ठ
                    </div>
                    <div class="read" (click)="navigateContent()" >
                        अभी पढ़ें
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div>
        <ins class="adsbygoogle"
        style="display:block; text-align:center;"
        data-ad-layout="in-article"
        data-ad-format="fluid"
        data-ad-client="ca-pub-8686670942479639"
        data-ad-slot="4557078521"></ins>
    </div>
    <div class="part-info" [style.display]="mainConfig.partDescription.length<=0 ? 'none':'block'">
        <h2>अध्याय</h2>
        <div class="container">
            <div attr.data-aos="{{i%2==0 ? 'fade-right' : 'fade-left'}}" (click)="cardClick(part)" *ngFor="let part of mainConfig.partDescription;let i=index" class="part-info-cards">
                <div class="chapter-no" [innerHTML]="(i+1)">
                </div>
                <div class="title-container" [innerHTML]="part.name">

                </div>
                <div class="publication-details">
                    <div class="publication-info">
                        <i class="far fa-address-book"></i> प्रकाशन दिनांक : {{part.published}}
                    </div>
                </div>
                <div class="publication-details publish-details">
                    <span><i class="far fa-clock"></i> {{part.time}}</span>
                    <span><i class="fas fa-star"></i> {{part.rating}}</span>
                </div>

            </div>
        </div>

    </div>
</div>