<nav class="navbar" #navbar>
    <div class="max-width">
        <div data-aos="fade-right" class="logo">
            <a href="#">
                हस्त<span>लेख.</span>
            </a>
        </div>
        <div class="nav-menu">
            <ul>
                <li data-aos="fade-down"><a href="#blogs">कहानियाँ</a></li>
                <li data-aos="fade-down"><a href="#video">चलचित्र</a></li>
                <li data-aos="fade-down"><a href="#about">परिचय</a></li>
            </ul>
        </div>
        <div (click)="example(element)" class="menu-btn" #element>
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>

<section class="home" id="home">

    <div class="max-width">
        <div class="left-content">

            <div data-aos="fade-down" class="social-sites">
                <span (click)="clickOnIcon('youtube')"><i class="fab fa-youtube"></i></span>
                <span (click)="clickOnIcon('')"><i class="fab fa-twitter"></i></span>
                <span (click)="clickOnIcon('')"><i class="fab fa-facebook-f"></i></span>
                <span (click)="clickOnIcon('')"><i class="fab fa-instagram"></i></span>
            </div>
            <div class="sub">
                <div class="subscription-email">
                    <input type="text" placeholder="आपका ई-मेल पता">
                </div>
                <div data-aos="fade-up" class="getting-started">
                    सदस्यता
                </div>
            </div>
        </div>

        <div class="right-content">
            <img src="../assets//koyal.jpg" style='width: 100%;
               border-radius: 10px;
            height: 100%;' />
            <div data-aos="fade-right" class="tips-tricks">
                <i class="fas fa-tags"></i>
                सुविचार
            </div>
            <div data-aos="fade-down" class="main-description">
                खुद से जीतने की जिद है मुझे खुद को ही हराना है
                मैं भीड़ नहीं हूँ दुनिया की, मेरे अंदर एक जमाना है
            </div>
            <div data-aos="fade-up" class="author-name">
                - अंजली सचिन मिश्रा
            </div>
        </div>
    </div>

</section>


<section class="blogs" id="blogs">
    <div class="max-width">
        <h2>कहानियाँ और कविताएँ</h2>
        <div class="blog-contents">
            <div attr.data-aos="{{ i%2==0 ? 'fade-right' : 'fade-left'}}" class="blog-card" (click)="clickToView(item)" *ngFor="let item of storyBlogs;let i=index">
                <div class="popular" [hidden]="item.isPopular">
                    <i class="fas fa-fire"></i>
                    लोकप्रिय
                </div>

                <div style="display: flex;">
                    <img class="blog-image" [src]="item.blogImage" alt="blog-images">
                    <div class="blog-timeframe">

                        <div class="time"><i class="far fa-clock"></i>{{item.time}}</div>
                        <div class="time"><i class="far fa-thumbs-up"></i>
                            <div class="story-type" *ngFor="let _type of item.tags" [innerHTML]="_type"> </div>
                        </div>
                        <div class="blog-date" [innerHTML]="item.date">
                        </div>
                    </div>
                </div>
                <div class="blog-summary" [innerHTML]="item.summary">
                </div>
                <div class="blog-description" [innerHTML]="item.description" (click)="read(item)">
                </div>
                <div class="author-info">
                    <div class="author">
                        <img [src]="item.authorImage" />
                        <div class="author-name" [innerHTML]="item.authorName"> </div>
                    </div>
                    <div class="share-info">
                        <div class="share" (click)="share()" ><i class="fas fa-share"></i></div>
                        <div class="share"><i class="far fa-bookmark"></i></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

<section class="video" id="video">
    <div class="max-width">
        <h2>चलचित्र</h2>
        <div class="video-list">
            <iframe src="https://www.youtube.com/embed/tp__HgvnW8A?list=PLOl_wW4Z269X_TsCXj3tsrpNSsBvCwnEq"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/nMOiq_8Z32o?list=PLOl_wW4Z269X_TsCXj3tsrpNSsBvCwnEq"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/yx-TBOIue54?list=PLOl_wW4Z269X_TsCXj3tsrpNSsBvCwnEq"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/LO-z90XLoGI?list=PLOl_wW4Z269X_TsCXj3tsrpNSsBvCwnEq"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/kuq-X4nrYZQ?list=PLOl_wW4Z269X_TsCXj3tsrpNSsBvCwnEq"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/ZZwoibTcBHo?list=PLOl_wW4Z269X_TsCXj3tsrpNSsBvCwnEq"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</section>


<section class="about" id="about">
    <div class="max-width">
        <h2>परिचय</h2>
        <div data-aos="fade-up" class="about-content">
            <div class="image-info">
                <img src="../assets/profile.png" />
            </div>
            <div class="about-info">
                <h3>अंजली सचिन मिश्रा</h3>
                <div class="about-description">
                    <div class="greeting">
                        🙏 नमस्कार दोस्तों !
                    </div>
                    <p>
                        मैं अंजली सचिन मिश्रा पेशे से एक अध्यापिका हूं, इसके साथ ही साथ सोशल मीडिया पर भी काफी संक्रीय
                        रहती हूं, इसी संक्रियता के चलते मैंने <span (click)="clickOnIcon('youtube')">YouTube</span> पर
                        अपना स्वयं का चैनल शुरू किया है जिसमें मैं
                        अपने रसोई की सभी
                        गतिविधिया साझा करती हूं। इसके साथ ही साथ मुझे कॉलेज के दिनों से ही हिंदी लेखन में काफी रुचि रही
                        है , उन
                        दिनों मैं कॉलेज के सभी लेखन प्रतियोगिताओं में भाग लिया करती थी कई बार मैंने ईनाम भी प्राप्त किया
                        है,मुझे आशा है कि आपको मेरी लेखनी पसंद आएगी और यदि पसंद आती है तो आप मेरी कहानियों पर
                        प्रतिक्रिया
                        अवश्य दें ताकि इससे प्रेरित हो मैं आगे भी अपना लेखन का कार्य जारी रख सकूं,

                    </p>
                    <div class="greeting">
                        धन्यवाद !!! 😊
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="copyright" id="copyright">
    <div class="max-width">
        <h3>Copyright ©2021 All rights reserved to <span>Anjali Mishra</span></h3>
    </div>
</section>

<!-- <ng-template #content></ng-template> -->
 