<div class="social-share">
    <div class="title">
        <span>Share</span>
        <span (click)="close()"><i class="far fa-times-circle"></i></span>
    </div>
    <div class="share">
        <div class="icons" (click)="shareApplication('twitter')"><i class="fab fa-twitter"></i></div>
        <div class="icons" (click)="shareApplication('facebook')"><i class="fab fa-facebook-f"></i></div>
        <div class="icons" (click)="shareApplication('linkedin')"><i class="fab fa-linkedin-in"></i></div>
        <div class="icons" (click)="shareApplication('pinterest')"><i class="fab fa-pinterest-square"></i></div>
        <div class="icons" (click)="shareApplication('whatsapp')"><i class="fab fa-whatsapp"></i></div>
    </div>
</div>